.baner:first-of-type {
	text-align: center;
	width: 75%;
	height: 150px;
	font-size: 200%;
}

.baner:last-of-type {
	width: 25%;
	height: 150px;
}

.glowny {
	background-color: rgb(128, 0, 0);
	padding: 50px;
	text-transform: uppercase;
}

.stopka:first-of-type, .stopka:last-of-type {
	width: 20%;
	padding-top: 90px;
}

.stopka:nth-of-type(2) {
	text-align: center;
	width: 60%;
}

body {
	font-family: Arial;
	background-color: rgb(244, 164, 96);
	color: white;
}

p {
	font-size: 150%;
	border: 2px dotted rgb(169, 169, 169);
}

p:hover {
	background-color: rgb(169, 169, 169);
}

table {
	width: 100%;
	border-collapse: collapse;
}

td, th {
	border: 1px solid rgb(192, 192, 192);
	padding: 5px
}

.flex {
	display: flex;
}